body {
  margin: 0;
}

.wrapper {
  max-width: $wrapper-width;
  margin: auto;
}

.header {
  background-color: grey;
  height: $header-height;
}

.header-container {
  height: $header-height;
  padding: 10px 0;
}

.header-root-link {
  text-decoration: none;
  margin-right: 30px;
  color: $font-color;
}
