body {
  margin: 0;
  font-family: $text-font;
  background-color: $background-color;
}

button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
  border: 1px solid #999;
  border-radius: 0;

  -webkit-appearance: none;
}

.notice, .alert {
  margin: 0;
}

.wrapper {
  width: $wrapper-width;
  max-width: 100%;
  margin: auto;

  @media (min-width: $medium-breakpoint) {
    max-width: 95%;
  }
}

.header {
  background-color: $background-color;
  height: $header-height;
}

.header-container {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  box-sizing: border-box;

  @media (min-width: $medium-breakpoint) {
    padding: 0;
  }
}

.header-root-link {
  text-decoration: none;
  margin-right: 30px;
}

.header-logo {
  height: 30px;
}

.header-links-container {
  width: 100%;
}

.header-link {
  text-decoration: none;
  color: $font-color;
  margin-left: 20px;
}

.header-social-links-container {
  display: flex;
}

.header-social-link {
  margin-left: 10px;
  text-decoration: none;
}

.header-social-icon {
  fill: $secondary-color;
}

.footer {
  background-color: $secondary-color;
  width: 100%;
  margin-top: 40px;
  padding: 50px 0;
  text-align: center;
  color: $font-white-color;
}