.home-container {
  text-align: center;
}

.header-video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
}

.home-videos-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-video-container {
  width: 100%;

  @media (min-width: $medium-breakpoint) {
    width: 40%;
  }
}

.home-video-title {
  padding: 10px 0;
  font-size: 1.2em;
}

.home-video-description {
  text-align: justify;
  padding: 20px;

  @media (min-width: $medium-breakpoint) {
    padding: 0;
  }
}