<header class='header'>
  <div class='wrapper header-container'>
    <%= link_to root_path, class: 'header-root-link' do %>
      <%= image_tag 'logo-pixis', class: 'header-logo' %>
    <% end %>
    <%= link_to 'Videos', videos_path, class: 'header-link' %>
  </div>
</header>